:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --hero-button-active: #188CE8;
    --hero-text-color: #fff;
    --bgc-secondary-color: #f5f4fa;
    --bgc-temporary-color: #2f303a;
}

.page {
    background-color: #fff;
    color: var(--primary-text-color);
  
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.logo{
    color:#000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.accent {
color: var(--accent-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--title-text-color);
}



/* Site-nav */

.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav {
    color: var(--title-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.contact-nav .link{
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}



/* Hero */
.hero {
    background-color: var(--bgc-temporary-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
}

.hero-button { 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    border: 0;
    border-radius: 4px;
    color: var(--hero-text-color);
    background-color: var(--accent-color);

    cursor:pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hero-button-active);
}



/* Section */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    
}
.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
}


.portfolio .title {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.item {
    color:var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
}

.team-box {
    background: var(--hero-text-color);
}

.team .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
   
}

.team {
    line-height: 1.2;
    background-color: var(--bgc-secondary-color);
 
}



/* Portfolio button*/

.filter-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em; 

    border: 0;
    border-radius: 4px;
    
    color: var(--title-text-color);
    background-color: var(--bgc-secondary-color);
    
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--hero-text-color);
}



/* Footer */

.contacts .logo {
color: var(--hero-text-color);
}

.contacts {
    background-color: var(--bgc-temporary-color);
    color: var(--hero-text-color);
}

.contacts .link {
    text-decoration: none;
    color: var(--hero-text-color);
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;

    color: rgba(255, 255, 255, 0.6);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

